.messages-container input[type=number] {
    width: 5em;
    font-size: 0.6rem;
}

.messages-container {
    border-top: 1px solid #cccccc;
    padding-top: 1em;
}

.messages-container .box {
    padding: 0.7em;
    padding-bottom: 0;
    margin-bottom: 1em;
}

.messages-container .columns {
    margin-bottom: 0;
}

.messages-container .drag::after {
    content: " \2261";
}

.messages-container .level-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .messages-container .level-options {
        flex-wrap: wrap;
    }
}

.messages-container summary {
    outline: none;
}

.is-adding-message {
    position: fixed;
    left: 1em;
    z-index: 10;
}

.messages-container p {
    margin-right: 0.5em;
}

/** Copied from https://github.com/bevacqua/dragula/blob/b0e5c4/dist/dragula.css **/
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
